<!DOCTYPE html>
<html>
<head>
    <title>Tu Historia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container h1 {
            margin-bottom: 3rem; 
        }
        .btn:hover {
            background-color: #007bff; 
            color: white; 
            transform: scale(1.1); 
        }
        
    </style>
</head>
<body class="bg-dark text-white">
    <div class="container mt-5">
        <h1 class="text-center">Tu Historia</h1>
        <p class="border p-3 mb-3">{{ story }}</p> 
        <a href="/" class="btn btn-primary">Volver</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
